/// footer

@use '../abstracts/' as *;

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: calc(100% / 5);
  padding: 6rem 0;
  background-color: $color-pink;

  &__column {
    margin: 0 auto;

    // large breakpoint
    @include mq(large) {
      display: flex;
      flex-direction: row;
      margin: 0;
    }

    // large breakpoint
    @include mq(large) {
      padding: 0 1rem;
    }
  }

  &__flex {
    margin: 0 2rem;

    // medium breakpoint
    @include mq(medium) {
      margin: 0 3rem;
    }
  }

  &__title {
    color: $color-white;

    // medium breakpoint
    @include mq(medium) {
      text-align: left;
      padding: 0 3rem 0 0;
    }

    // large breakpoint
    @include mq(large) {
      padding: 0 14rem 0 0;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 0;

    &__item {
      // medium breakpoint
      @include mq(medium) {
        padding: 0 0.4rem;
      }

      // large breakpoint
      @include mq(large) {
        padding: 0 1rem;
      }
    }

    // medium breakpoint
    @include mq(medium) {
      justify-content: flex-start;
    }
  }

  &__links {
    display: flex;
    text-align: left;

    &__header {
      color: $color-white;
    }

    &__list {
      padding: 1.8rem 0;

      &__item {
        padding: 1rem 0;

        a {
          color: $color-dark-gray;
        }
      }
    }

    // medium breakpoint
    @include mq(medium) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__last {
    margin: 4rem 0 0 0;

    // medium breakpoint
    @include mq(medium) {
      margin: 0;
    }

    // large breakpoint
    @include mq(large) {
      margin: 0;
    }

    // x-large breakpoint
    @include mq(x-large) {
      margin: 0;
    }
  }

  // medium breakpoint
  @include mq(medium) {
    flex-direction: row;
    padding: 7em 3rem;
  }

  // large breakpoint
  @include mq(large) {
    justify-content: space-evenly;
    padding: 9rem 4rem 6rem 4rem;
  }
}
