/// nav

@use '../abstracts/' as *;

.nav {
  position: relative;
  display: flex;
  padding: 1.2rem;

  &__brand {
    z-index: 1;
    margin: 0.3rem 0 0 0;
    color: $color-dark-gray;
    @include transition(0.4s);

    &:hover {
      @include transition(0.4s);
      color: #000;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    z-index: 10;
    cursor: pointer;

    &__item {
      display: flex;
      width: 2.8rem;
      height: 2.8rem;
    }

    &__item:first-of-type {
      margin: 1rem 4rem 0 0;
      color: $color-dark-gray;
    }

    &__item:nth-last-child(1) {
      margin: 0 0 0.5rem 2rem;
    }
  }

  // hidden nav bar
  &__list--hidden {
    position: absolute;
    inset: 0;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 5rem 0;
    background-color: $color-white;

    &-item {
      padding: 3rem 0;
      cursor: pointer;

      &--logout {
        // large breakpoint
        @include mq(large) {
          padding: 0 2rem 0 0;
        }
      }
    }

    // change order of elements (put close X to up)
    &-item:last-child {
      position: absolute;
      inset: 1rem 0 0 0;
      margin: 0 1rem 0 auto;
      padding: 0;

      // small breakpoint
      @include mq(small) {
        margin: 0 1rem 5rem auto;
      }

      // medium breakpoint
      @include mq(medium) {
        margin: 0 1rem 5rem auto;
      }

      // large breakpoint
      @include mq(large) {
        position: relative;
        inset: 0;
        padding: 0.3rem 0 0 0;
      }
    }

    // colors
    &-item:nth-child(-n + 3) a {
      color: $color-blue;
    }

    &-item a {
      color: $color-dark-gray;
    }

    // large breakpoint
    @include mq(large) {
      flex-direction: row;
      height: 18.7rem;
      padding: 0 7rem;

      // nav items spacing
      &-item {
        margin: 0 5rem;
      }

      &-item:nth-child(4) {
        margin: 0 0 0 auto;
      }

      &-item:last-child {
        margin: 0;
      }
    }
  }

  // small breakpoint
  @include mq(small) {
    padding: 2.3rem;
  }

  // medium breakpoint
  @include mq(medium) {
    padding: 4rem;
  }
  // nav helper classes for hamburger action
  &__show {
    @include transition(0.7s ease-in);
    left: 0;
  }

  &__hide {
    @include transition(0.7s ease-in);
    transform: translateY(-300%);
  }
}
