/// shop container

@use '../abstracts/' as *;

.shop {
  padding: 5rem 0;

  &__title {
    padding: 0 0 5rem 0;
    color: $color-dark-gray;

    // small breakpoint
    @include mq(small) {
      padding: 0 0 7rem 0;
    }

    // medium breakpoint
    @include mq(medium) {
      padding: 0 0 12rem 0;
    }
  }

  &__container {
    @include make-container(2em);
    display: flex;
    flex-direction: column;

    // small breakpoint
    @include mq(small) {
      @include make-container(4em);

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
    }

    // large breakpoint
    @include mq(large) {
      @include make-container(10em);
      grid-template-columns: repeat(3, 1fr);
    }
  }

  // card styles
  &__card {
    @include box-shadow(0px 10px 15px -3px rgba(0, 0, 0, 0.15));
    @include transition(all 0.3s ease);
    margin: 0 auto 5rem auto;
    padding: 0 0 1rem 0;
    border-radius: 1rem;

    background-color: $color-white;

    &__image {
      width: 29.7rem;
      height: 15.417rem;
      object-fit: cover;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }

    &__title {
      margin: 2rem 0;
      color: $color-dark-gray;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      padding: 0 1.2rem 0 1.6rem;

      &__icon {
        &--like {
          max-width: 32px;
          max-height: 32px;
          margin: 0.7rem 0 0 1rem;
        }
      }

      &__price {
        margin: 0 0 0 auto;
        color: $color-yellow;
      }
    }

    &:hover {
      @include box-shadow(0px 10px 15px -3px rgba(0, 0, 0, 0.25));
      @include transition(all 0.3s ease);
      transform: scale(1.02);
    }

    // medium breakpoint
    @include mq(medium) {
      margin: 0 auto 6rem auto;
    }

    // large breakpoint
    @include mq(large) {
      margin: 0 auto 8rem auto;
    }
  }

  // small breakpoint
  @include mq(small) {
    padding: 8rem 0;
  }

  // medium breakpoint
  @include mq(medium) {
    padding: 12rem 0;
  }
}
