/// payment container

@use '../abstracts/' as *;

.payment {
  padding: 5rem 0;

  &__title {
    padding: 0 0 5rem 0;
    color: $color-dark-gray;

    // small breakpoint
    @include mq(small) {
      padding: 0 0 7rem 0;
    }

    // medium breakpoint
    @include mq(medium) {
      padding: 0 0 12rem 0;
    }
  }

  &__container {
    @include make-container(2em);
    display: flex;
    flex-direction: column;

    // small breakpoint
    @include mq(small) {
      @include make-container(4em);

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
    }

    // large breakpoint
    @include mq(large) {
      @include make-container(10em);
      grid-template-columns: repeat(3, 1fr);
    }

    // x-large breakpoint
    @include mq(x-large) {
      @include make-container(20em);
    }

    // xx-large breakpoint
    @include mq(xx-large) {
      @include make-container(20%);
    }
  }

  &__products {
    order: 2;
    padding: 2rem;
    // border: 1px solid #000;
  }

  &__payment {
    order: 1;
  }

  // small breakpoint
  @include mq(small) {
    padding: 8rem 0;
  }

  // medium breakpoint
  @include mq(medium) {
    padding: 12rem 0;
  }
}
