/// form

@use '../abstracts/' as *;

.form {
  margin: 5rem 0;

  // small breakpoint
  @include mq(small) {
    @include make-container(10rem);
  }

  // medium breakpoint
  @include mq(medium) {
    @include make-container(15rem);
  }

  // large breakpoint
  @include mq(large) {
    @include make-container(25rem);
  }

  // x-large breakpoint
  @include mq(x-large) {
    @include make-container(45rem);
  }

  // xx-large breakpoint
  @include mq(xx-large) {
    @include make-container(50rem);
  }

  &__form {
    width: 100%;
    margin: 5rem auto;
  }

  &__textfield {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 5rem;
  }

  // error message
  &__error {
    padding: 0.4rem 0 0 0;
    color: $color-red;
  }

  &__label {
    width: 30%;
    margin: 0 1rem 0 0;
    text-align: left;
    color: $color-dark-gray;

    &__wrapper {
      display: inline-block;
      text-align: left;
    }
  }

  &__input {
    display: inline-block;
    text-align: left;
    padding: 0.4rem 0;

    // medium breakpoint
    @include mq(medium) {
      width: 150%;
    }
  }

  label + input {
    width: 30%;
    margin: 0 10% 0 10%;
  }
}
