/// quantity

@use '../abstracts/' as *;

.quantity {
  display: inline;
  position: relative;

  input {
    -webkit-appearance: none;
    text-align: center;
    width: 3rem;
    border: none;
    color: #43484d;
  }

  button {
    @include transition(0.25s ease-in);
    width: 30px;
    height: 30px;
    background-color: #e1e8ee;

    border-radius: 6px;
    border: none;
    cursor: pointer;

    &:hover {
      @include transition(0.25s ease-in);
      background-color: rgba($color-dark-gray, 0.2);
    }
  }

  button:focus,
  input:focus {
    outline: 0;
  }
}
