///* colors

$color-pink: #eacccd;
$color-yellow: #ffd57a;
$color-dark-gray: #404040;
$color-blue: #b5c8eb;
$color-red: #eb5757;
$color-black: #000;
$color-white: #fff;

///* typo

$font-family-abril: "Abril Fatface", cursive;
$font-family-lato: "Lato", sans-serif;
$font-family-rubik: "Rubik", sans-serif;

$font-weight: (
  "regular": 400,
  "semi-bold": 500,
  "bold": 700,
);

///* container
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);
