/// error 404

@use '../abstracts/' as *;

.text-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 6em;
  font-weight: 700;
  color: $color-dark-gray;
}

.subtitle {
  font-size: 40px;
  font-weight: 700;
  padding: 2rem 0;

  color: $color-dark-gray;
}

.buttons {
  margin: 30px;

  a.button {
    font-weight: 700;
    border: 2px solid $color-dark-gray;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    color: $color-dark-gray;
    border-radius: 26px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $color-dark-gray;
      color: white;
      transition: all 0.2s ease-in-out;
    }
  }
}
