/// typo

@use '../abstracts/' as *;

// global styles
h1 {
  font-family: $font-family-abril;
  font-size: 5rem;
  text-transform: capitalize;

  // medium breakpoint
  @include mq(medium) {
    font-size: 7rem;
  }

  // large breakpoint
  @include mq(large) {
    font-size: 8rem;
  }
}

a {
  text-decoration: none;
}

p {
  line-height: 0;
}

// nav
.nav {
  font-family: $font-family-abril;

  &__brand {
    font-size: 2.6rem;
    font-style: italic;
    text-transform: uppercase;

    // large breakpoint
    @include mq(large) {
      font-size: 3.6rem;
    }
  }

  &__list--hidden-item {
    font-size: 3rem;
    text-transform: capitalize;
  }
}

// header
.header {
  font-family: $font-family-abril;

  &__title {
    &__button {
      font-size: 1.6rem;
      text-transform: capitalize;
    }
  }
}

// footer
.footer {
  font-family: $font-family-lato;

  &__title {
    font-size: 3rem;
  }

  &__links {
    font-size: 1.6rem;
    text-transform: capitalize;
  }
}
