/// typo

@use '../abstracts/' as *;

// global styles
h1 {
  font-family: $font-family-abril;
  font-size: 3.6rem;
  text-transform: capitalize;

  // medium breakpoint
  @include mq(medium) {
    font-size: 6rem;
  }

  // large breakpoint
  @include mq(large) {
    font-size: 7rem;
  }
}

h2 {
  font-family: $font-family-abril;
  font-size: 3rem;
  text-transform: capitalize;

  // medium breakpoint
  @include mq(medium) {
    font-size: 5rem;
  }

  // large breakpoint
  @include mq(large) {
    font-size: 6rem;
  }
}

a {
  text-decoration: none;
}

p {
  line-height: 0;
}

// nav
.nav {
  font-family: $font-family-abril;

  &__brand {
    font-size: 2.6rem;
    font-style: italic;
    text-transform: uppercase;

    // large breakpoint
    @include mq(large) {
      font-size: 3.6rem;
    }
  }

  &__list__item:first-of-type {
    font-size: 1.6rem;
    text-transform: capitalize;
  }

  &__list--hidden-item {
    font-size: 3rem;
    text-transform: capitalize;
  }
}

// header
.header {
  font-family: $font-family-abril;

  &__title {
    &__button {
      font-size: 1.6rem;
      text-transform: capitalize;
    }
  }
}

// shop
.shop {
  &__title {
    font-family: $font-family-abril;
    font-size: 4rem;
    text-transform: capitalize;

    // small breakpoint
    @include mq(small) {
      font-size: 5rem;
    }

    // medium breakpoint
    @include mq(medium) {
      font-size: 8rem;
    }
  }
}

.payment {
  h2 {
    font-size: 3rem;
  }

  // medium breakpoint
  @include mq(medium) {
    h2 {
      font-size: 3.2rem;
    }

    // large breakpoint
    @include mq(large) {
      font-size: 3.4rem;
    }
  }
}

// form
.form {
  font-family: $font-family-rubik;

  &__label {
    font-size: 1.6rem;
    font-weight: map-get($font-weight, semi-bold);
  }
}

// footer
.footer {
  font-family: $font-family-lato;

  &__title {
    font-size: 2.4rem;
    font-weight: map-get($font-weight, regular);

    // small breakpoint
    @include mq(small) {
      font-size: 3rem;
      font-weight: map-get($font-weight, semi-bold);
    }
  }

  &__links {
    font-size: 1.6rem;
    text-transform: capitalize;
  }
}

// card
.card {
  &__title {
    font-family: $font-family-rubik;
    font-size: 2.3rem;
    font-weight: map-get($font-weight, semi-bold);
    text-transform: uppercase;
  }

  &__bottom {
    &__price {
      font-family: $font-family-rubik;
      font-size: 2.6rem;
      font-weight: map-get($font-weight, semi-bold);

      // medium breakpoint
      @include mq(medium) {
        font-size: 3rem;
      }

      // x-large breakpoint
      @include mq(x-large) {
        font-size: 3.8rem;
      }
    }
  }

  &--payment {
    font-family: $font-family-rubik;

    h2 {
      font-size: 2.2rem;
    }

    &__money {
      font-size: 1.8rem;
      font-weight: map-get($font-weight, semi-bold);
    }
  }
}

// button
.btn {
  font-size: 1.4rem;
  font-weight: map-get($font-weight, semi-bold);
}

// quantity
.quantity {
  font-family: $font-family-rubik;
  font-size: 2.4rem;
}
